#res_FB
  table.table
    tr
      td ID
      td=results.analysis[0].twitter.post.id
    tr
      td=__("From")
      td=results.analysis[0].twitter.post.user.name
    tr
      td=__("Post date")
      td=results.analysis[0].twitter.post.created_at
  table.table
    each anal in results.analysis
      - fbanal = anal.twitter
      tr
        td(colspan=2)=fbanal.checkdate
      tr
        td=__("Likes")
        td=fbanal.likes.length
      tr
        td=__("Retweets")
        td
          p=__("Total") + ": " + fbanal.retweets.length
          - var retweets = 0
          - var likes = 0
          each item in fbanal.retweets
            - retweets+=item.retweet_count ? parseInt(item.retweet_count) : 0
            - likes+=item.favorite_count ? parseInt(item.favorite_count) : 0
          p=__("Retweets") + ": " + retweets
          p=__("Likes") + ": " + likes
