#res_FB
  table.table
    tr
      td ID
      td=results.post.id
    tr
      td=__("From")
      td=results.post.user.name
    tr
      td=__("Post date")
      td=results.post.created_at
  table.table
    tr
      td(colspan=2)=results.checkdate
    tr
      td=__("Likes")
      td=results.likes.length
    tr
      td=__("Retweets")
      td
        p=__("Total") + ": " + results.retweets.length
        //- var retweets = 0
          - var likes = 0
          each item in results.retweets
            - retweets+=item.retweet_count ? parseInt(item.retweet_count) : 0
            - likes+=item.favorite_count ? parseInt(item.favorite_count) : 0
          p=__("Retweets") + ": " + retweets
          p=__("Likes") + ": " + likes
