extends layout
block content
  .row-offcanvas.row-offcanvas-left.cnt
    include sidebar_accounting
    #main
      .col-md-12
        h1.page-title=__("Customers")
        div
          - if (typeof msg !== "undefined" && typeof msg.e !== "undefined" && msg.e.length) {
            .alert.alert-danger
              h4=__("There are some errors")
              ul
                - for(var a=0;a<msg.e.length;a++)
                  li=msg.e[a].m
          - }
          - if (typeof msg !== "undefined" && typeof msg.c !== "undefined" && msg.c.length) {
            .alert.alert-success
              h4=__("There are some messages")
              ul
                - for(var a=0;a<msg.c.length;a++)
                  li=msg.c[a].m
          - }
        .container_overflow.container_overflow_margin
          table.table
            thead
              tr
                th.tabActions=__("Actions")
                th=__("Customer")
                th=__("Invoices")
                th=__("VAT number")
                th=__("Fiscal code")
                th=__("Address")
                th=__("ZIP code")
                th=__("City")
            tbody
              if result
                each x in result
                  tr
                    td
                      div.btn-group
                        a.btn.btn-primary(href="/"+global.settings.dbName+"/accounting/invoices/?year=ALL%20Years&customer="+x._id)=__("Invoices")
                        button.btn.btn-primary.dropdown-toggle(data-toggle="dropdown")
                          span.caret
                        ul.dropdown-menu
                          li
                            a(href="/" + global.settings.dbName+"/accounting/invoices/?year=ALL%20Years&customer=" + x._id)=__("Invoices")
                          li
                            a(href="/" + global.settings.dbName+"/accounting/offers/?year=ALL%20Years&customer=" + x._id)=__("Offers")
                          li
                            a(href="/" + global.settings.dbName+"/accounting/customers/" + x._id+"/")=__("Edit")
                          li
                            a(href="/"+global.settings.dbName+"/accounting/customers/?id="+x._id+"&del="+1)=__("Delete")
                    td
                      a(href="/"+global.settings.dbName+"/accounting/customer/"+x._id+"/")=x.name
                    td.text-center=x.invoicesCount
                    td=x.vat_number
                    td=x.fiscal_code
                    td=x.address.street
                    td=x.address.zipcode
                    td=x.address.city
