
h1=(result.nome ? result.nome : __("New client"))
div.well
	form(method="post", action="/clients",onsubmit="checkForm(this)").form-horizontal
		div.control-group
			label(for='cliente_new').control-label=__("Client")
			div.controls
				input(type="text", name="nome", value=result.nome).span3#cliente_new
		div.control-group
			label(for='p_iva').control-label=__("VAT number")
			div.controls
				input(type="text", name="p_iva", value=result.p_iva)#p_iva.span2
		div.control-group
			label(for='c_fiscale').control-label=__("Fiscal code")
			div.controls
				input(type="text", name="c_fiscale", value=result.c_fiscale)#c_fiscale.span2
		div.control-group
			label(for='indirizzo').control-label=__("Address")
			div.controls
				input(type="text", name="indirizzo[via]", value=result.indirizzo.via)#indirizzo.span3
		div.control-group
			label(for='cap').control-label=__("ZIP code")
			div.controls
				input(type="text", name="indirizzo[cap]", value=result.indirizzo.cap)#cap.span1
		div.control-group
			label(for='citta').control-label=__("City")
			div.controls
				input(type="text", name="indirizzo[citta]", value=result.indirizzo.citta)#citta.span2
		div.control-group
			label(for='country').control-label=__("Country")
			div.controls
				select(name="indirizzo[country]")#country.span3
					each item in countries
						option(selected=item.name == result.indirizzo.country)= item.name
		div.control-group
			label.control-label
			div.controls
				input(type="hidden", name="id", value=result._id)
				input(type="submit", value=__("SAVE")).btn.btn-primary
	br.myClear
		
include modals/alert

script(src='/js/views/client.js')
script(src='/js/controllers/clientController.js')
script(src='/js/form-validators/clientValidator.js')