.row
	.col-sm-4
		div.well
			h1=__('Customers')
			ul
				li
					a(href="/customers")
					span=__("Customers")
				li
					a(href="/customer")
					span=__("New customer")
			hr
	
	.col-sm-4
		div.well
			h1=__('Offers')
			ul
				li
					a(href="/invoices")
					span=__("Invoices")
				li
					a(href='/invoice')
					span=__("New invoice")
			hr

	.col-sm-4
		div.well
			h1=__('Invoices')
			ul
				li
					a(href='/offers')
					span=__("Offers")
				li
					a(href='/offer')
					span=__("New offer")				
			hr
