
div.cnt
	div.span4
		div.well
			h1=__('Clients')
			ul
				li
					a(href="/clients")
						span=__("Clients")
				li
					a(href="/client")
						span=__("New client")
			hr
	
	div.span4
		div.well
			h1=__('Offers')
			ul
				li
					a(href="/invoices")
						span=__("Invoices")
				li
					a(href='/invoice')
						span=__("New invoice")
			hr

	div.span4
		div.well
			h1=__('Invoices')
			ul
				li
					a(href='/offers')
						span=__("Offers")
				li
					a(href='/offer')
						span=__("New offer")				
			hr
