
form(method="post", action="/invoices")
	div.container-fluid
		div.row-fluid
			.span6
				h1=__("New invoice")
			.span6
				.pull-right
					br
					input(type="submit", value=__("SAVE")).btn.btn-success
					- if (result._id)
						input(type="button", value=__("PRINT")).btn.btn-primary
						input(type="button", value=__("DUPLICATE")).btn.btn-primary
						input(type="button", value=__("DELETE")).btn.btn-danger
	div.container-fluid
		div.row-fluid
			h1=_config.company
			h3=_config.company_address
			hr.clearfix
		div.row-fluid
			.span6
				.row-fluid
					.input-prepend.span6
						label.span8.add-on(for='invoice_number')=__("Invoice number")
						input(type="text", name="invoice_number", disabled).span3#invoice_number
						input(type="hidden", name="invoice_number")
					.input-prepend.span6
						label.span5.add-on(for='invoice_date')=__("Invoice date")
						input(type="text", name="invoice_date").span7.date#invoice_date
				.row-fluid
					.input-prepend.input-append.span12
						label.span2.add-on(for='to_client')=__("Client")
						input(type="text", name="to_client[name]").span6#to_client
						a(href="/client").btn.add-on=__("Insert new client")
					input(type="hidden", name="to_client[_id]")#client_id
				.row-fluid
					.input-prepend.span12
						label.span3.add-on(for='address')=__("Address")
						input(type="text", name="to_client[address][street]", disabled).address#address.span9
						input(type="hidden", name="to_client[address][street]").address
				.row-fluid
					.input-prepend.span4
						label.span6.add-on(for='zipcode')=__("ZIP code")
						input(type="text", name="to_client[address][zipcode]", disabled).zipcode.span6#zipcode
						input(type="hidden", name="to_client[address][zipcode]").zipcode
					.input-prepend.span4
						label.span4.add-on(for='city')=__("City")
						input(type="text", name="to_client[address][city]", disabled).city.span8#city
						input(type="hidden", name="to_client[address][city]").city
					.input-prepend.span4
						label.span6.add-on(for='country')=__("Country")
						input(type="text", name="to_client[address][country]", disabled).country.span6#country
						input(type="hidden", name="to_client[address][country]").country
				.row-fluid
					.input-prepend.span12
						label.span3.add-on(for='vat_number')=__("VAT number")
						input.span9(type="text", name="to_client[vat_number]", disabled).vat_number#vat_number
						input(type="hidden", name="to_client[vat_number]").vat_number
				.row-fluid
					.input-prepend.span12
						label.span3.add-on(for='fiscal_code')=__("Fiscal code")
						input.span9(type="text", name="to_client[fiscal_code]", disabled).fiscal_code#fiscal_code
						input(type="hidden", name="to_client[fiscal_code]").fiscal_code
			.span5
				.row-fluid
					.input-append.span12
						.input-append.span12
				.row-fluid
					.input-prepend.input-append.span12
						label.span3.add-on(for='payment')=__("Payment")
						input.span6(type="text", name="payment")#payment
						.btn-group
							button.btn.dropdown-toggle(data-toggle="dropdown", type="button")=__("Choose")
								span.caret
							ul.dropdown-menu
								li bella
				.row-fluid
					.input-prepend.input-append.span12
						label.span3.add-on(for='destination')=__("Shipped to")
						input.span9(type="text", name="destination")#destination
				.row-fluid
					.input-prepend.input-append.span12
						label.span3.add-on(for='offer_number')=__("Offer number")
						input.span9(type="text", name="offer[offer_number]")#offer_number
					input(type="hidden", name="offer[_id]")#offer_id
				.row-fluid
					.input-prepend.span12
						label.span3.add-on(for='offer_date')=__("Offer date")
						input.span9(type="text", name="offer[offer_date]", disabled)#offer_date
						input(type="hidden", name="offer[offer_date]")
				.row-fluid
					.input-prepend.span12
						label.span3.add-on(for='delivery_date')=__("Delivery date")
						input.span9(type="text", name="delivery_date").date#delivery_date
		div.row-fluid
			hr
			table.table#items
				thead
					tr
						th=__("Quantity")
						th=__("Description")
						th=__("Price")
						th=__("Amount")
				tbody
					tr
						td
							input(type="text", name="items[0][quantity]").quantity#quantity_0.input-mini
						td
							input(type="text", name="items[0][description]").description#description_0.input-xlarge
						td.input-prepend
							span.add-on=_config.currency[0]
							input(type="text", name="items[0][price]").price#price_0.input-medium
						td.input-prepend
							span.add-on=_config.currency[0]
							input(type="text", name="items[0][amount]").amount#amount_0.input-medium
				tfoot
					tr
						td
						td
						td
							label.pull-right(for='subtotal')=__("Subtotal")
						td.input-prepend
							span.add-on=_config.currency[0]
							input(type="text", name="subtotal", disabled).totals.subtotal.input-medium
							input(type="hidden", name="subtotal").totals.subtotal
					tr
						td
						td
						td.input-append
							label.pull-right(for='vat_perc')=__("VAT")
								input(type="text", name="vat_perc")#vat_perc.input-mini
								span.add-on %
						td.input-prepend
							span.add-on=_config.currency[0]
							input(type="text", name="vat_amount", disabled).totals.vat_amount.input-medium
							input(type="hidden", name="vat_amount").totals.vat_amount
					tr
						td
						td
						td
							label.pull-right(for='shipping_costs')=__("Shipping costs")
						td.input-prepend
							span.add-on=_config.currency[0]
							input(type="text", name="shipping_costs")#shipping_costs.input-medium
					tr
						td
						td
						td
							label.pull-right(for='total')=__("TOTAL")
						td.input-prepend
							span.add-on=_config.currency[0]
							input(type="text", name="total", disabled).total.input-medium
							input(type="hidden", name="total").total
			hr.clearfix
			label.add-on(for='bank')=__("Bank")
			h3#banca=_config.bank
	div.container-fluid
		div.row-fluid
			.span6
			.span6
				.pull-right
					br
					input(type="submit", value=__("SAVE")).btn.btn-success
					- if (result._id)
						input(type="button", value=__("PRINT")).btn.btn-primary
						input(type="button", value=__("DUPLICATE")).btn.btn-primary
						input(type="button", value=__("DELETE")).btn.btn-danger
		
include modals/alert

script(type="text/javascript)
	var rowNumber = 1;
	var impTot;
	var tot;