
h1=__("Invoices")
div.well
	table.table
		thead
			tr
				th.numerot=__("Invoice number")
				th.datat=__("Invoice date")
				th.clientet=__("Client")
				th.addresst=__("Subtotal")
				th.capt=__("VAT")
				th.cityt=__("TOTAL")
		tbody
			each x in result
				tr
					td.clientet
						a#dett_cliente(href="/invoice/?id="+x._id)=x.numero+"aa"
					td.clientet=x.data
					td.clientet
						a#dett_cliente(href="/client")=x.cliente.nome
					td.vat_numbert=x.cliente.vat_number
					td.fiscal_codet=x.cliente.fiscal_code
					td.addresst=x.cliente.address.street
