
form(method="post", action="/invoice/?id="+result._id)#invoice
	div.row-fluid
		.span6
			h1=(result.invoice_number ? __("Invoice")+": "+result.invoice_number : __("New invoice"))
		.span6
			.pull-right
				br
				input(type="submit", value=__("SAVE")).btn.btn-success
				- if (result._id)
					input(type="button", value=__("DUPLICATE")).btn.btn-primary
					input(type="button", value=__("PRINT"), onclick="window.location='/print/invoice/?id="+result._id+"'").btn.btn-primary
					//a.btn.btn-primary(href="/print/invoice/?id="+result._id)=__("PRINT")
					//input(type="button", value=__("DELETE")).btn.btn-danger
					input(type="hidden", name="id", value=result._id)
	div.row-fluid
		hr.clearfix
	- if (typeof msg !== "undefined" && typeof msg.e !== "undefined" && msg.e.length)
		.alert.alert-error
			h4=__("There are some errors")
			ul
				- for(a=0;a<msg.e.length;a++)
					li=msg.e[a].m
	- if (typeof msg !== "undefined" && typeof msg.c !== "undefined" && msg.c.length)
		.alert.alert-success
			h4=__("There are some messages")
			ul
				- for(a=0;a<msg.c.length;a++)
					li=msg.c[a].m
	div.row-fluid
		.span7
			.row-fluid
				.input-prepend.span6
					label.span8.add-on(for='invoice_number')=__("Invoice number")
					input(type="text", name="invoice_number", value=result.invoice_number).disabled.span3#invoice_number
				.input-prepend.span6
					label.span5.add-on(for='invoice_date')=__("Invoice date")
					- d = result.invoice_date;
					input(type="text", name="invoice_date", value=d.getDate()+"/"+(d.getMonth()+1)+"/"+d.getFullYear()).span7.date#invoice_date
			.row-fluid
				.input-prepend.input-append.span12
					label.span2.add-on(for='to_client')=__("Client")
					input(type="text", name="to_client[name]", value=result.to_client.name).span6#to_client
					a(href="/client").btn.add-on=__("Insert new client")
					input(type="hidden", name="to_client[_id]", value=result.to_client._id)#client_id
			.row-fluid
				.input-prepend.span12
					label.span3.add-on(for='address')=__("Address")
					input(type="text", name="to_client[address][street]", value=result.to_client.address.street).disabled.street.span9#street
			.row-fluid
				.input-prepend.span4
					label.span6.add-on(for='zipcode')=__("ZIP code")
					input(type="text", name="to_client[address][zipcode]", value=result.to_client.address.zipcode).disabled.zipcode.span6#zipcode
				.input-prepend.span4
					label.span4.add-on(for='city')=__("City")
					input(type="text", name="to_client[address][city]", value=result.to_client.address.city).disabled.city.span8#city
				.input-prepend.span4
					label.span6.add-on(for='country')=__("Country")
					input(type="text", name="to_client[address][country]", value=result.to_client.address.country).disabled.country.span6#country
			.row-fluid
				.input-prepend.span12
					label.span3.add-on(for='vat_number')=__("VAT number")
					input.span9(type="text", name="to_client[vat_number]", value=result.to_client.vat_number).disabled.vat_number#vat_number
			.row-fluid
				.input-prepend.span12
					label.span3.add-on(for='fiscal_code')=__("Fiscal code")
					input.span9(type="text", name="to_client[fiscal_code]", value=result.to_client.fiscal_code).disabled.fiscal_code#fiscal_code
		.span5
			.row-fluid
				.input-append.span12
					.input-append.span12
			.row-fluid
				.input-prepend.input-append.span12
					label.span3.add-on(for='payment')=__("Payment")
					input.span6(type="text", name="payment", value=result.payment)#payment
					.btn-group
						button.btn.dropdown-toggle(data-toggle="dropdown", type="button")=__("Choose")
							span.caret
						ul.dropdown-menu
							li bella
			.row-fluid
				.input-prepend.input-append.span12
					label.span3.add-on(for='destination')=__("Shipped to")
					input.span9(type="text", name="destination", value=result.destination)#destination
			.row-fluid
				.input-prepend.input-append.span12
					label.span3.add-on(for='offer_number')=__("Offer number")
					input.span9(type="text", name="offer[offer_number]", value=result.offer.offer_number)#offer_number
			.row-fluid
				.input-prepend.span12
					label.span3.add-on(for='offer_date')=__("Offer date")
					- if (result.offer.offer_date)
						- d = result.offer.offer_date;
						input.span9(type="text", name="offer[offer_date]", value=d.getDate()+"/"+(d.getMonth()+1)+"/"+d.getFullYear()).disabled.date#offer_date
					- else
						input.span9(type="text", name="offer[offer_date]").disabled.date#offer_date
			.row-fluid
				.input-prepend.span12
					label.span3.add-on(for='delivery_date')=__("Delivery date")
					- var dd=""
					- if (result.delivery_date)
						dd = result.delivery_date.getDate()+"/"+(result.delivery_date.getMonth()+1)+"/"+result.delivery_date.getFullYear()
					input.span9(type="text", name="delivery_date", value=dd).date#delivery_date
		hr
		table.table#items
			thead
				tr
					th=__("Quantity")
					th=__("Description")
					th=__("Price")
					th=__("Amount")
			tbody
				- var a = 0 
				- for(a=0;a<result.items.length;a++)
					tr
						td
							input(type="text", name="items["+a+"][quantity]",value=result.items[a].quantity,id="quantity_"+a).quantity#quantity_0.input-mini
						td
							textarea(type="text", name="items["+a+"][description]",id="description_"+a).description#description_0.input-xlarge=result.items[a].description
						td.input-prepend
							span.add-on=_config.currency[0]
							input(type="text", name="items["+a+"][price]",value=result.items[a].price,id="price_"+a).price#price_0.input-medium
						td.input-prepend
							span.add-on=_config.currency[0]
							input(type="text", name="items["+a+"][amount]",value=result.items[a].amount,id="amount_"+a).disabled.amount.input-medium
							
							a.btn(href="#", onclick="removeRow(this); return false;")
								i.icon-remove
							script rowNumber++
			tfoot
				tr
					td
					td
					td
						label.pull-right(for='subtotal')=__("Subtotal")
					td.input-prepend
						span.add-on=_config.currency[0]
						input(type="text", name="subtotal", value=result.subtotal).disabled.totals.subtotal.input-medium
				tr
					td
					td
					td.input-append
						label.pull-right(for='vat_perc')=__("VAT")
							input(type="text", name="vat_perc", value=result.vat_perc)#vat_perc.input-mini
							span.add-on %
					td.input-prepend
						span.add-on=_config.currency[0]
						input(type="text", name="vat_amount", value=result.vat_amount).disabled.totals.vat_amount.input-medium
				tr
					td
					td
					td
						label.pull-right(for='shipping_costs')=__("Shipping costs")
					td.input-prepend
						span.add-on=_config.currency[0]
						input(type="text", name="shipping_costs", value=result.shipping_costs).totals#shipping_costs.input-medium
				tr
					td
					td
					td
						label.pull-right(for='total')=__("TOTAL")
					td.input-prepend
						span.add-on=_config.currency[0]
						input(type="text", name="total", value=result.total).disabled.total.input-medium
		hr.clearfix
		label.add-on(for='bank')=__("Bank")
		select(id="bank",name="bank")
			option=__("Select a bank account")
			- for (a=0;a<_config.banks.length;a++)
				- if (_config.banks[a][0]==result.bank)
					option(value=_config.banks[a][0], selected="selected")=_config.banks[a][0]
				- else
					option(value=_config.banks[a][0])=_config.banks[a][0]
		- for (a=0;a<_config.banks.length;a++)
			- if (_config.banks[a][0]==result.bank)
				#banca=_config.banks[a][1]
	div.row-fluid
		.span6
		.span6
			.pull-right
				br
				input(type="submit", value=__("SAVE")).btn.btn-success
				- if (result._id)
					input(type="button", value=__("DUPLICATE")).btn.btn-primary
					input(type="button", value=__("PRINT"), onclick="window.location='/print/invoice/?id="+result._id+"'").btn.btn-primary
					//a.btn.btn-primary(href="/print/invoice/?id="+result._id)=__("PRINT")
					//input(type="button", value=__("DELETE")).btn.btn-danger

- if (result.revisions)
	div.container-fluid.well
		h3=__("Revisions")
		ul
			- each x in result.revisions
				//li=x.userID+" "+x.username+" "+x.time
				li!="<b>"+x.username+"</b> "+x.time


script(src='/js/invoice.js',type="text/javascript)