!!!
html
	head
		title= title
		meta(name="viewport", content="width=device-width, initial-scale=1")
		
		link(href="/lib/smoothness/jquery-ui-1.9.0.custom.css",rel="stylesheet",type="text/css")
		link(href="/lib/bootstrap-3.1.1-dist/css/bootstrap.min.css", rel="stylesheet")
		link(href="/css/style.css", rel="stylesheet")
		| <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		| <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		| <!--[if lt IE 9]>
		| <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		| <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		| <![endif]-->
	body
		- if (locals.udata)
			div.navbar.navbar-inverse.navbar-fixed-top
				div.navbar-inner
					div.container-fluid
						ul#global-nav.nav.pull-left
							li
								a(href="/").brand Control Panel
						a(href="/logout")#btn-logout.btn.btn-primary.pull-right
							i.glyphicon.glyphicon-lock.icon-white
							| Sign Out
			div.container-fluid
				div.row
					div.col-sm-2
						ul.nav.nav-list.bs-docs-sidenav.list-group
							li
								a(href="/clients")
									i.glyphicon.glyphicon-chevron-right.pull-right
									span=__("Clients")
							//li(class=(locals.title === "Clients" ? "submenu" : "submenu hide"))
							li.submenu
								a(href="/client")
									i.glyphicon.glyphicon-chevron-right.pull-right
									span=__("New client")
							li
								a(href='/offers')
									i.glyphicon.glyphicon-chevron-right.pull-right
									span=__("Offers")
							//li(class=(locals.title === 'Offers' ? "submenu" : "submenu hide"))
							li.submenu
								a(href='/offer')
									i.glyphicon.glyphicon-chevron-right.pull-right
									span=__("New offer")				
							li
								a(href="/invoices")
									i.glyphicon.glyphicon-chevron-right.pull-right
									span=__("Invoices")
							//li(class=(locals.title === 'Invoices' ? "submenu" : "submenu hide"))
							li.submenu
								a(href='/invoice')
									i.glyphicon.glyphicon-chevron-right.pull-right
									span=__("New invoice")
							li
								a(href='/accounts')
									i.glyphicon.glyphicon-chevron-right.pull-right
									span=__("Accounts")
							li.submenu
								a(href='/account')
									i.glyphicon.glyphicon-chevron-right.pull-right
									span=__("New account")				
							li.submenu
								a(href='/account?id='+locals.udata._id)
									i.glyphicon.glyphicon-chevron-right.pull-right
									span=__("My account")				
					div.col-sm-10.page-header!= body
		- else 
			div.container!= body
			a(href="https://github.com/gianlucadelgobbo/mongo-invoices")
				img#github-banner(style="position:absolute;top:0px;right:0;border:0;", src="https://a248.e.akamai.net/camo.github.com/7afbc8b248c68eb468279e8c17986ad46549fb71/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67", alt="Fork me on GitHub")

		// display form errors in a custom modal window //
		
		include modals/alert
		include modals/confirm
		include modals/errors
		script(src="/config.js")
		script(src="/validators.js")
		script(src="/accounting.js")
		script(src="/lib/jquery.min.js")
		script(src="/lib/jquery.form.js")
		script(src="/lib/bootstrap-3.1.1-dist/js/bootstrap.min.js")
		script(src="/lib/jquery-ui-1.9.0.custom.min.js")
		script(src="/lib/jquerymx-3.2.custom.min.js")

		script(src="/js/scripts.js")

		script(type="text/javascript")
			var _gaq = _gaq || [];
			_gaq.push(["_setAccount", _config.googleAnalytics]);
			_gaq.push(["_trackPageview"]);
			(function() {
				var ga = document.createElement("script"); ga.type = "text/javascript"; ga.async = true;
				ga.src = ("https:" == document.location.protocol ? "https://ssl" : "http://www") + ".google-analytics.com/ga.js";
				var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ga, s);
			})();
		
