!!!
html
	head
		title= title
		meta(name="viewport", content="width=device-width, initial-scale=1")
		
		link(href="/lib/smoothness/jquery-ui-1.9.0.custom.css",rel="stylesheet",type="text/css")
		link(href="/lib/bootstrap-3.1.1-dist/css/bootstrap.min.css", rel="stylesheet")
		link(href="/css/style.css", rel="stylesheet")
		| <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		| <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		| <!--[if lt IE 9]>
		| <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		| <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		| <![endif]-->
	body
		- if (locals.udata)
			.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
				.container-fluid
					.navbar-header
						button.navbar-toggle(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
							span.sr-only!="Toggle navigation"
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand(href="/")!="Control Panel"
					.collapse.navbar-collapse#bs-example-navbar-collapse-1
						.navbar-form.navbar-right
							a(href="/logout")#btn-logout.btn.btn-primary
								i.glyphicon.glyphicon-lock.icon-white
								|  Sign Out
			.container-fluid.cnt
				div.row
					div.col-sm-2
						.list-group
							a(href="/clients").list-group-item
								i.glyphicon.glyphicon-chevron-right.pull-right
								span=__("Clients")
							a(href="/client").list-group-item.submenu
								i.glyphicon.glyphicon-chevron-right.pull-right
								span=__("New client")
							a(href='/offers').list-group-item
								i.glyphicon.glyphicon-chevron-right.pull-right
								span=__("Offers")
							a(href='/offer').list-group-item.submenu
								i.glyphicon.glyphicon-chevron-right.pull-right
								span=__("New offer")				
							a(href="/invoices").list-group-item
								i.glyphicon.glyphicon-chevron-right.pull-right
								span=__("Invoices")
							a(href='/invoice').list-group-item.submenu
								i.glyphicon.glyphicon-chevron-right.pull-right
								span=__("New invoice")
							a(href='/accounts').list-group-item
								i.glyphicon.glyphicon-chevron-right.pull-right
								span=__("Accounts")
							a(href='/account').list-group-item.submenu
								i.glyphicon.glyphicon-chevron-right.pull-right
								span=__("New account")				
							a(href='/account?id='+locals.udata._id).list-group-item.submenu
								i.glyphicon.glyphicon-chevron-right.pull-right
								span=__("My account")
							- if (locals.udata.role == 'admin')			
								a(href='/settings').list-group-item
									i.glyphicon.glyphicon-chevron-right.pull-right
									span=__("Settings")				
					div.col-sm-10!= body
		- else 
			.container-fluid.cnt!= body
			a(href="https://github.com/gianlucadelgobbo/mongo-invoices")
				img#github-banner(style="position:absolute;top:0px;right:0;border:0;", src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67", alt="Fork me on GitHub")

		// display form errors in a custom modal window //
		
		include modals/alert
		include modals/confirm
		include modals/errors
		script(src="/validators.js")
		script(src="/accounting.js")
		script(src="/lib/jquery.min.js")
		script(src="/lib/jquery.form.js")
		script(src="/lib/bootstrap-3.1.1-dist/js/bootstrap.min.js")
		script(src="/lib/jquery-ui-1.9.0.custom.min.js")
		script(src="/lib/jquerymx-3.2.custom.min.js")

		script(src="/js/scripts.js")
		- if (typeof js != 'undefined')
			script(src=js,type="text/javascript)
		- if (_config.googleAnalytics!="")
			script(type="text/javascript")
				var _gaq = _gaq || [];
				_gaq.push(["_setAccount", _config.googleAnalytics]);
				_gaq.push(["_trackPageview"]);
				(function() {
					var ga = document.createElement("script"); ga.type = "text/javascript"; ga.async = true;
					ga.src = ("https:" == document.location.protocol ? "https://ssl" : "http://www") + ".google-analytics.com/ga.js";
					var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ga, s);
				})();
		
