extends layout
block content
	.row
		.col-sm-6
			h1.page-title=__("Offers")
		.col-sm-6
			.pull-right
				b=__("Change year")+"&nbsp;"
				.btn-group
					a.btn.btn-primary(href="/"+global.settings.dbName+"/offers/?year="+year)=year
					button.btn.btn-primary.dropdown-toggle(data-toggle="dropdown")
						span.caret
					ul.dropdown-menu
						each year in years
							li
								a(href="/"+global.settings.dbName+"/offers/?year="+year)=year
	div
		- if (typeof msg !== "undefined" && typeof msg.e !== "undefined" && msg.e.length)
			.alert.alert-danger
				h4=__("There are some errors")
				ul
					- for(var a=0;a<msg.e.length;a++)
						li=msg.e[a].m
		- if (typeof msg !== "undefined" && typeof msg.c !== "undefined" && msg.c.length)
			.alert.alert-success
				h4=__("There are some messages")
				ul
					- for(var a=0;a<msg.c.length;a++)
						li=msg.c[a].m
		table.table
			thead
				tr
					th.tabActions=__("Actions")
					th=__("Offer number")
					th=__("Offer date")
					th=__("Customer")
					th=__("Payment")
					th=__("Shipped to")
					th=__("Delivery date")
					th.text-right=__("Subtotal")
					th.text-right=__("VAT")
					th.text-right=__("Shipping costs")
					th.text-right=__("TOTAL")
			tbody
				each x, index in result
					tr
						td
							div.btn-group
								a.btn.btn-primary(href="/"+global.settings.dbName+"/offer/?id="+x._id)=__("Edit")
								button.btn.btn-primary.dropdown-toggle(data-toggle="dropdown")
									span.caret
								ul.dropdown-menu
									li
										a(href="/"+global.settings.dbName+"/offers/?id="+x._id+"&del="+1)=__("Delete")
										a(href="/"+global.settings.dbName+"/print/offer/?id="+x._id)=__("Print")
										a(href="/"+global.settings.dbName+"/invoice/?offer"+x._id)=__("MAKE INVOICE")
										a(href="/"+global.settings.dbName+"/offer/?dup="+x._id)=__("DUPLICATE")
						td
							span(class="label label-"+(x.offer_number==result.length-index ? "success" : "danger"))=x.offer_number
						- if (x.offer_date)
							- dd = new Date(x.offer_date)
							td=dd.getDate()+"/"+(dd.getMonth()+1)+"/"+dd.getFullYear()
						- else
							td
						td
							a(href="/"+global.settings.dbName+"/customer/?id="+x.to_client._id)=x.to_client.name
						td=x.payment
						td=x.destination
						- var dd=""
						- if(x.delivery_date)
							- dd = x.delivery_date.getDate()+"/"+(x.delivery_date.getMonth()+1)+"/"+x.delivery_date.getFullYear()
						td=dd
						td.text-right=x.subtotal
						td.text-right=x.vat_amount
						td.text-right=x.shipping_costs
						td.text-right=x.total

