
h1=__("Offers")
div.well
	- if (typeof msg !== "undefined" && typeof msg.e !== "undefined" && msg.e.length)
		.alert.alert-error
			h4=__("There are some errors")
			ul
				- for(a=0;a<msg.e.length;a++)
					li=msg.e[a].m
	- if (typeof msg !== "undefined" && typeof msg.c !== "undefined" && msg.c.length)
		.alert.alert-success
			h4=__("There are some messages")
			ul
				- for(a=0;a<msg.c.length;a++)
					li=msg.c[a].m
	table.table
		thead
			tr
				th=__("Actions")
				th=__("Offer number")
				th=__("Offer date")
				th=__("Client")
				th=__("Payment")
				th=__("Shipped to")
				th=__("Offer")
				th=__("Delivery date")
				th=__("Subtotal")
				th=__("VAT")
				th=__("Shipping costs")
				th=__("TOTAL")
		tbody
			each x in result
				tr
					td
						div.btn-group
							a.btn.btn-info(href="/offer/?id="+x._id)=__("Edit")
							button.btn.btn-info.dropdown-toggle(data-toggle="dropdown")
								span.caret
							ul.dropdown-menu
								li
									a(href="/offers/?id="+x._id+"&del="+1)=__("Delete")
									a(href="/print/offer/?id="+x._id)=__("Print")
					td=x.offer_number
					- dd = new Date(x.offer_date)
					td=dd.getDate()+"/"+(dd.getMonth()+1)+"/"+dd.getFullYear()
					td
						a(href="/client/?id="+x.to_client._id)=x.to_client.name
					td=x.payment
					td=x.destination
					td=x.offer_number
					- var dd=""
					- if(x.delivery_date)
						dd = x.delivery_date.getDate()+"/"+(x.delivery_date.getMonth()+1)+"/"+x.delivery_date.getFullYear()
					td=dd
					td=x.subtotal
					td=x.vat_amount
					td=x.shipping_costs
					td=x.total
					
