extends layout
block content
  .row-offcanvas.row-offcanvas-left.cnt
    include sidebar_accounting
    #main
      .col-md-12
        .row
          .col-sm-6
            h1.page-title=__("Offers")+" "+__(year)+(typeof customer != "undefined" ? " "+customer.name : "")
          .col-sm-6
            .pull-right
              label(for="changeyear")
                =__("Change year")
                !="&nbsp;&nbsp;"
              .btn-group(style="display:inline-block")
                a.btn.btn-primary(href="/"+global.settings.dbName+"/accounting/offers/?year="+year + (typeof customer != "undefined" ? "&customer=" + customer.id : ""))=year
                button.btn.btn-primary.dropdown-toggle(data-toggle="dropdown")#changeyear
                  span.caret
                ul.dropdown-menu
                  li
                    a(href="/"+global.settings.dbName+"/accounting/offers/?year=ALL Years" + (typeof customer != "undefined" ? "&customer=" + customer.id : ""))=__("ALL Years")
                  each year in years
                    li
                      a(href="/"+global.settings.dbName+"/accounting/offers/?year="+year + (typeof customer != "undefined" ? "&customer=" + customer.id : ""))=year
        div
          - if (typeof msg !== "undefined" && typeof msg.e !== "undefined" && msg.e.length)
            .alert.alert-danger
              h4=__("There are some errors")
              ul
                - for(var a=0;a<msg.e.length;a++)
                  li=msg.e[a].m
          - if (typeof msg !== "undefined" && typeof msg.c !== "undefined" && msg.c.length)
            .alert.alert-success
              h4=__("There are some messages")
              ul
                - for(var a=0;a<msg.c.length;a++)
                  li=msg.c[a].m
          .container_overflow.container_overflow_margin
            table.table
              thead
                tr
                  th.tabActions=__("Actions")
                  th=__("Offer number")
                  th=__("Offer date")
                  th=__("Customer")
                  th=__("Payment")
                  th=__("Shipped to")

                  th=__("Delivery date")
                  th.text-right=__("Subtotal")
                  th.text-right=__("VAT")
                  th.text-right=__("Shipping costs")
                  th.text-right=__("TOTAL")
              tbody
                each x, index in result
                  tr
                    td
                      div.btn-group
                        a.btn.btn-primary(href="/"+global.settings.dbName+"/accounting/offer/?id="+x._id)=__("Edit")
                        button.btn.btn-primary.dropdown-toggle(data-toggle="dropdown")
                          span.caret
                        ul.dropdown-menu
                          li
                            a(href="/" + global.settings.dbName + "/accounting/offer/?id=" + x._id)=__("Edit")
                            a(href="/" + global.settings.dbName + "/accounting/invoice/?offer" + x._id)=__("Make invoice")
                            a(href="/" + global.settings.dbName + "/accounting/offer/?dup=" + x._id)=__("Duplicate")
                            a(href="/" + global.settings.dbName + "/accounting/print/offer/?id=" + x._id)=__("Print")
                            a(href="/" + global.settings.dbName + "/accounting/offers/?id=" + x._id + "&del=" + 1)=__("Delete")
                    td
                      span.h3(style="margin-top:2px;display:inline-block;")
                        span(class="label label-"+(typeof customer != "undefined" || parseInt(year)!=year ? "info" : x.offer_number==result.length-index ? "success" : "danger"))=x.offer_number
                    - if (x.offer_date)
                      - dd = new Date(x.offer_date)
                      td=dd.getDate()+"/"+(dd.getMonth()+1)+"/"+dd.getFullYear()
                    - else
                      td
                    td
                      a(href="/"+global.settings.dbName+"/accounting/customer/?id="+x.to_client._id)=x.to_client.name
                    td=x.payment
                    td=x.destination
                    - var dd=""
                    if x.delivery_date
                      - dd = x.delivery_date.getDate()+"/"+(x.delivery_date.getMonth()+1)+"/"+x.delivery_date.getFullYear()
                    td=dd
                    td.text-right=x.subtotal
                    td.text-right=x.vat_amount
                    td.text-right=x.shipping_costs
                    td.text-right=x.totalbr
