extends layout
block content
  .row-offcanvas.row-offcanvas-left.cnt
    include sidebar_partners
    #main
      .col-md-12
        form(method="post", action="/" + global.settings.dbName + "/partners/"+project+"/actions/new/")#customer-form
          .row
            .col-sm-6
              h1.page-title=(result._id ? __("Action") + ": " + result.name : __("New action")+": "+project)
            .col-sm-6
              .pull-right
                - if (result._id)
                  button#account-form-btn2.btn.btn-success(type='submit')=__("Update")
                  !=" "
                  a(href="/" + global.settings.dbName + "/partners/" + project + "/actions/?id=" + result._id + "&del=" + 1)#account-form-btn1.btn.btn-danger=__("Delete")
                - else
                  button(type='submit')#account-form-btn1.btn.btn-success=__("Save")

          hr
          - if (typeof msg !== "undefined" && typeof msg.e !== "undefined" && msg.e.length)
            .alert.alert-danger
              h4=__("There are some errors")
              ul
                - for(var a=0;a<msg.e.length;a++)
                  li=msg.e[a].m
          - if (typeof msg !== "undefined" && typeof msg.c !== "undefined" && msg.c.length)
            .alert.alert-success
              h4=__("There are some messages")
              ul
                - for(var a=0;a<msg.c.length;a++)
                  li=msg.c[a].m
          .form-group
            label(for='action_new').control-label=__("Action name")
            input(type="text", name="name", value=result.name).form-control#action_new
          .form-group
            label(for='facebook').control-label=__("Facebook post")
            input(type="text", name="facebook", value=result.facebook)#facebook.form-control
          .form-group
            label(for='twitter').control-label=__("Twitter post")
            input(type="text", name="twitter", value=result.twitter)#twitter.form-control
          .form-group
            label(for='instagram').control-label=__("Instagram post")
            input(type="text", name="instagram", value=result.instagram)#instagram.form-control
          .form-group
            label(for='fbgroups').control-label=__("Include Facebook groups")
            input(type="checkbox", name="fbgroups", value=1, checked=result.fbgroups ? "checked" : undefined)#fbgroups.form-control

            input(type="hidden", name="project", value=project)
            input(type="hidden", name="date", value=result.date)
            - if (result._id)
              input(type="hidden", name="_id", value=result._id)


          .form-actions.pull-right
            .clearfix
              - if (result._id)
                button(type='submit')#account-form-btn2.btn.btn-success=__("Update")
                !=" "
                a(href="/" + global.settings.dbName + "/partners/" + project + "/actions/?id=" + result._id + "&del=" + 1)#account-form-btn1.btn.btn-danger=__("Delete")
              - else
                button(type='submit')#account-form-btn1.btn.btn-success=__("Save")

            br
