
header
	.logo
		- if(_config.company.logo)
			img(src=_config.company.logo, alt=_config.company.name)
		- else
			span=_config.company.name
	.company_row1!=_config.company.row1
	.company_row2!=_config.company.row2
section.print_data.clearfix
	.clearfix
		table.print_data_col1
			tr
				td.nowrap=__("Offer number")
				td.nowrap=result.offer_number
				td.nowrap=__("Offer date")
				- d = result.offer_date;
				td=d.getDate()+"/"+(d.getMonth()+1)+"/"+d.getFullYear()
			tr
				td(colspan="2").nowrap=__("Client")
				td(colspan="2")
					b=(result.to_client.name+" ")
					br
					span=result.to_client.address.street+" "+result.to_client.address.city+" "+result.to_client.address.country
			tr
				td(colspan="2").nowrap=__("VAT number")
				td(colspan="2")=result.to_client.vat_number
			tr
				td(colspan="2").nowrap=__("Fiscal code")
				td(colspan="2")=result.to_client.fiscal_code
		table.print_data_col2
			tr
				td.nowrap=__("Payment")
				td=result.payment
			- if (typeof result.destination!=="undefined")
				tr
					td.nowrap=__("Shipped to")
					td=result.destination
			- if (typeof result.invoice!=="undefined")
				tr
					td.nowrap=__("Offer number")
					td=result.invoice.invoice_number
				tr
					td.nowrap=__("Offer date")
					td=result.invoice.invoice_date
			- if (typeof result.delivery_date!=="undefined")
				tr
					td.nowrap=__("Delivery date")
					- d = result.delivery_date;
					td=d.getDate()+"/"+(d.getMonth()+1)+"/"+d.getFullYear()
section.print_items
	- if (result.description)
		p!=result.description.replace(/\n/g,'<br />')
	- else
		p
	table.table
		thead
			tr
				th=__("Quantity")
				th=__("Description")
				th=__("Price")
				th=__("Amount")
		tbody
			- var a = 0 
			- for(a=0;a<result.items.length;a++) 
				tr
					td.quantity=result.items[a].quantity,id="quantity_"+a
					- if (result.items[a].description)
						td.description(id="description_"+a)!=result.items[a].description.replace(/\n/g,'<br />')
					- else
						td.description(id="description_"+a)
					td.price
						.price=_config.currency[0]+" "+result.items[a].price
					td.price
						.price=_config.currency[0]+" "+result.items[a].amount
		tfoot
			tr
				td(colspan="3")
					.pull-right=__("Subtotal")
				td
					.price=_config.currency[0]+" "+result.subtotal
			tr
				td(colspan="3")
					.pull-right=__("VAT")+" "+result.vat_perc+" %"
				td
					.price=_config.currency[0]+" "+result.vat_amount
			tr
				td(colspan="3")
					.pull-right=__("Shipping costs")
				td
					.price=_config.currency[0]+" "+result.shipping_costs
			tr
				td(colspan="3")
					.pull-right=__("TOTAL")
				td
					.price=_config.currency[0]+" "+result.total
footer
	b=__("Bank")
	br
	- for (a=0;a<_config.banks.length;a++)
		- if (_config.banks[a][0]==result.bank)
			span!=_config.banks[a][1]
