!!!
html
	head
		title= title
		meta(name="viewport", content="width=device-width, initial-scale=1")
		
		link(href="/lib/smoothness/jquery-ui-1.9.0.custom.css",rel="stylesheet",type="text/css")
		link(href="/lib/bootstrap-3.1.1-dist/css/bootstrap.min.css", rel="stylesheet")
		link(href="/css/style.css", rel="stylesheet")
		| <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		| <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		| <!--[if lt IE 9]>
		| <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		| <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		| <![endif]-->
	body.print_body
		- if (locals.udata)
			.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
				.container-fluid
					.navbar-header
						button.navbar-toggle(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
							span.sr-only!="Toggle navigation"
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand(href="#")!="Control Panel"
					.collapse.navbar-collapse#bs-example-navbar-collapse-1
						.navbar-form.navbar-right
							a(href="/logout")#btn-logout.btn.btn-primary
								i.glyphicon.glyphicon-lock.icon-white
								|  Sign Out
		.container.cnt.noprint
			div.row
				.col-sm-7
					h1=__("Print")
				.col-sm-5
					.pull-right
						br
						input(type="button", value=__("PRINT"), onclick="window.print()").btn.btn-primary
			hr.clearfix
		.print_container
			.cntPadd!= body
		div.noprint!="&nbsp";
		div.noprint!="&nbsp";
		script(src="/lib/jquery.min.js")
		script(src="/lib/bootstrap-3.1.1-dist/js/bootstrap.min.js")

		script(src="/js/scripts.js")

		script(type="text/javascript")
			var _gaq = _gaq || [];
			_gaq.push(["_setAccount", "UA-8844617-15"]);
			_gaq.push(["_trackPageview"]);
			(function() {
				var ga = document.createElement("script"); ga.type = "text/javascript"; ga.async = true;
				ga.src = ("https:" == document.location.protocol ? "https://ssl" : "http://www") + ".google-analytics.com/ga.js";
				var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ga, s);
			})();
