extends layout
block content
	div.col-sm-4.col-sm-offset-4#login-container
		form(method="post")#set-password-form.well
			h1.page-title="Reset Password"
			p.subheading=__("Please enter your new password")
			- console.log(typeof result)
			- if (typeof result!='undefined')
				.alert.alert-success
					h4=__("Password updated")
					p!=__("Please log in")+" <a href=\"/\">"+__("log in")+"</a>"
			- else
				.form-group
					label Password
					input(type="password", name="pass").form-control.required
					input(type="hidden", name="email", value=email)
				button(type="submit").btn.btn-primary=__("Reset")
